<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kunde.name %>
</p>

<p>
  <strong>Kürzel:</strong>
  <%= @kunde.kuerzel %>
</p>

<%= link_to 'Bearbeiten', edit_kunde_path(@kunde) %> |
<%= link_to 'Zurück', kundes_path %>
