<p id="notice"><%= notice %></p>

<h1>Betriebssystems</h1>

<table>
  <thead>
    <tr>
      <th>Betriebssystemtyp</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @betriebssystems.each do |betriebssystem| %>
      <tr>
        <td><%= Betriebssystemtyp.find(betriebssystem.betriebssystemtyp_id).name %></td>
        <td><%= betriebssystem.name %></td>
        <td><%= link_to 'Anzeigen', betriebssystem %></td>
        <td><%= link_to 'Bearbeiten', edit_betriebssystem_path(betriebssystem) %></td>
        <td><%= link_to 'Löschen', betriebssystem, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Betriebssystem', new_betriebssystem_path %>
