<p id="notice"><%= notice %></p>

<h1>Hardwaretypzuservers</h1>

<table>
  <thead>
    <tr>
      <th>Hardwaretyp</th>
      <th>Server</th>
      <th>Name</th>
      <th>Wert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hardwaretypzuservers.each do |hardwaretypzuserver| %>
      <tr>
        <td><%= Hardwaretyp.find(hardwaretypzuserver.hardwaretyp_id).name %></td>
        <td><%= Server.find(hardwaretypzuserver.server_id).name %></td>
        <td><%= hardwaretypzuserver.name %></td>
        <td><%= hardwaretypzuserver.wert %></td>
        <td><%= link_to 'Aneigen', hardwaretypzuserver %></td>
        <td><%= link_to 'Bearbeiten', edit_hardwaretypzuserver_path(hardwaretypzuserver) %></td>
        <td><%= link_to 'Löschen', hardwaretypzuserver, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Hardwaretypzuserver', new_hardwaretypzuserver_path %>
