<p id="notice"><%= notice %></p>

<p>
  <strong>Hardwaretyp:</strong>
  <%= @hardwaretypzuserver.hardwaretyp_id %>
</p>

<p>
  <strong>Server:</strong>
  <%= @hardwaretypzuserver.server_id %>
</p>

<p>
  <strong>Wert:</strong>
  <%= @hardwaretypzuserver.wert %>
</p>

<%= link_to 'Edit', edit_hardwaretypzuserver_path(@hardwaretypzuserver) %> |
<%= link_to 'Back', hardwaretypzuservers_path %>
