<p id="notice"><%= notice %></p>

<h1>Dienstleisters</h1>

<table>
  <thead>
    <tr>
      <th>Kunde</th>
      <th>Name</th>
      <th>Telefonnummer</th>
      <th>Bereitschaftsnummer</th>
      <th>Servicezeiten</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dienstleisters.each do |dienstleister| %>
      <tr>
        <td><%= Kunde.find(dienstleister.kunde_id).name %></td>
        <td><%= dienstleister.name %></td>
        <td><%= dienstleister.telefonnummer %></td>
        <td><%= dienstleister.bereitschaftsnummer %></td>
        <td><%= dienstleister.servicezeiten %></td>
        <td><%= dienstleister.email %></td>
        <td><%= link_to 'Show', dienstleister %></td>
        <td><%= link_to 'Edit', edit_dienstleister_path(dienstleister) %></td>
        <td><%= link_to 'Destroy', dienstleister, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dienstleister', new_dienstleister_path %>
