<p id="notice"><%= notice %></p>

<h1>Dienstleisters</h1>

<table>
  <thead>
    <tr>
      <th>Kunde</th>
      <th>Name</th>
      <th>Telefonnummer</th>
      <th>Bereitschaftsnummer</th>
      <th>Servicezeiten</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     
        <%   @dienstleisters.where(kunde_id: params[:kunde_id]).each do |dienstleister|     %>
     
      <tr>
        <td><%= Kunde.find(dienstleister.kunde_id).name %></td>
        <td><%= dienstleister.name %></td>
        <td><%= dienstleister.telefonnummer %></td>
        <td><%= dienstleister.bereitschaftsnummer %></td>
        <td><%= dienstleister.servicezeiten %></td>
        <td><%= dienstleister.email %></td>
        <td><%= link_to 'Anzeigen', dienstleister %></td>
        <td><%= link_to 'Bearbeiten', edit_dienstleister_path(dienstleister) %></td>
        <td>
          <% if Supportmatrix.where(dienstleister_id: dienstleister.id).count == 0 %>
            <%= link_to 'Löschen', dienstleister, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
          <% else %>
            Es ist noch mit eine Applikation verknüpft
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Dienstleister', new_dienstleister_path %>
