<p id="notice"><%= notice %></p>

<p>
  <strong>Kunde:</strong>
  <%= Kunde.find(@dienstleister.kunde_id).name %>
</p>


<p>
  <strong>Name:</strong>
  <%= @dienstleister.name %>
</p>

<p>
  <strong>Telefonnummer:</strong>
  <%= @dienstleister.telefonnummer %>
</p>

<p>
  <strong>Bereitschaftsnummer:</strong>
  <%= @dienstleister.bereitschaftsnummer %>
</p>

<p>
  <strong>Servicezeiten:</strong>
  <%= @dienstleister.servicezeiten %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dienstleister.email %>
</p>

<%= link_to 'Bearbeiten', edit_dienstleister_path(@dienstleister) %> |
<%= link_to 'Zurück', dienstleisters_path %>
