<p id="notice"><%= notice %></p>

<h1>Applikations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
      <th>Kunde</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applikations.each do |applikation| %>
      <tr>
        <td><%= applikation.name %></td>
        <td><%= applikation.beschreibung %></td>
        <td><%= Kunde.find(applikation.kunde_id).name %></td>
        <td><%= link_to 'Show', applikation %></td>
        <td><%= link_to 'Edit', edit_applikation_path(applikation) %></td>
        <td><%= link_to 'Destroy', applikation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applikation', new_applikation_path %>
