<h1>Übersicht</h1>



 <div class="menue">
    <% #Aufbau des menüs
    @kundes.each do |ku| %>

        <div class="kunde">
            <%= link_to ku.name, controller: "start", action: "index", id: ku.id %>
           
            <% #wenn die Param id mit der des Kunden übereinstimmt werden Applikationen ausgegeben
            if params[:id].to_i == ku.id %>   
                <% ku.applikation.each do |kuap| %>
                    <div class="appl">
                        <%= link_to kuap.name , controller: "start", action: "index",  id: ku.id , applikation_id: kuap.id %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
<div class="mitte">

<% if params[:applikation_id].present?  %>
    <div class="ueberschrift"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).name %></div>

    <div class="beschreibung"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).beschreibung %></div>


    <div class="ueberschrift">Komponenten</div>

    
    <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.each do |apko| %>
        <div class="komponente">
            <div class="titel">
                Bezeichnung
            </div>
            <div class="inhalt">
                <%= apko.name %>( <%= apko.server.name %>)
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Beschreibung
            </div>
            <div class="inhalt">
                <%= apko.beschreibung %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Installationspfad
            </div>
            <div class="inhalt">
                <%= apko.installationspfad %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Port
            </div>
            <div class="inhalt">
                <%= apko.port %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Start
            </div>
            <div class="inhalt">
                <%= apko.start %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Stop
            </div>
            <div class="inhalt">
                <%= apko.stop %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Besonderheiten
            </div>
            <div class="inhalt">
                <%= apko.besonderheiten %>
            </div>
            <div style="clear:both"></div>
            <div >&nbsp;</div>
            
        </div>
    <% end %>


    <div class="ueberschrift">Server</div>

    <div class="server">
        <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.all.select(:server_id).distinct.each do  |apser| %>
           
            <div class="name">
                <%= Server.find(apser.server_id).name %>
            </div>
            <div class="ip">
                <%= Server.find(apser.server_id).ip %>
            </div>
            <div class="betriebssystem">
                <%= Betriebssystem.find( Server.find(apser.server_id).betriebssystem_id ).name %>
            </div>
            <div style="clear:both"></div>
        <% end %>

    </div>
<% end %>


</div>
<div style="clear:both"></div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<% @kundes.each do |ku| %>
    <h2><%= ku.name %>(<%= ku.kuerzel %>)</h2><br/>
    <h3>Applikationen</h3>
        <%= ku.applikation.first.name %>
        <% ku.applikation.each do |kuap| %>
            Name: <%= kuap.name %><br/>
            Beschreibung: 
            <%= kuap.beschreibung %>
            <br/><br/>
        <% end %>
    <br/>
<% end %>