
<% if params[:applikation_id].present? && params[:id].present? %>
    
    <%= link_to '<i class="bi bi-pencil"></i>'.html_safe ,:controller => "applikations", :action => "edit", :id => params[:applikation_id]   %>
     
   
    <div class="ueberschrift"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).name %></div>

    <div class="beschreibung"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).beschreibung %></div>


    <div class="ueberschrift">Referenzen / Links
        <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "referenzs", :action => "new", :id => params[:applikation_id]  %>
           
    </div>
        <div class="referenz">
            <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).referenz.each do |apre| %>
                <div class="name">
                    <%= apre.name %>
                </div>
                <div class="link">
                    <% if apre.link.match(/^http/) %>
                        <a href="<%= apre.link %>" target="_blank"><%= apre.link %></a>
                    <% else %>
                        <%= apre.link %>
                     <% end %>
                </div>
                <div style="float:right;">
                    <%= link_to '<i class="bi bi-pencil"></i>'.html_safe ,:controller => "referenzs", :action => "edit", :id => apre.id, :applikation_id => params[:applikation_id]  %>
                       
                </div>
                <div style="float:right;">
                     <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "referenzs", :action => "destroy", :id => apre.id }, data: { confirm: 'Are you sure?' }, :method => :delete  %>
                </div>
                <div style="clear:both"></div>
            <% end %>
        </div>

    <div class="ueberschrift">Supportmatrix</div>
    
    <%= button_to "Dienstleister +", {:controller => "supportmatrices", :action => "new", :applikation_id => params[:applikation_id], :was => "dienstleister" },  method: :get %>
        <%= button_to "Fachgruppe +", {:controller => "supportmatrices", :action => "new", :applikation_id => params[:applikation_id], :was => "fachgruppe" },  method: :get %>
   <div class="supportmatrix"> 
            <div class="was" style="font-weight:bold">Was</div>
            <div class="beschreibung" style="font-weight:bold">Beschreibung</div>
             <div class="kontakt" style="font-weight:bold">Kontakt</div>
             <div style="clear:both;border-bottom:1px solid #000000"></div>
        <% Supportmatrix.where(applikation_id: params[:applikation_id]).each do |apsu| %>
            <div class="was">
                <%= apsu.was %>
            </div>
            <div class="beschreibung">
                <%= apsu.beschreibung %>
                
            </div>
            <div class="kontakt">
                <% # wenn Dienstleister nicht gesetzt ist wird die Fachruppe aufgegeben
                    if apsu.dienstleister_id.nil? %>
                    <%= Fachgruppe.find(apsu.fachgruppe_id).name %><br/>
                    Tel: <%= Fachgruppe.find(apsu.fachgruppe_id).telefonnummer %><br/>
                    Ber: <%= Fachgruppe.find(apsu.fachgruppe_id).bereitschaft %><br/>
                    Mail: <%= Fachgruppe.find(apsu.fachgruppe_id).email %><br/>
                    Ticketgruppe: <%= Fachgruppe.find(apsu.fachgruppe_id).ticketgruppe %>
                <% else %>
                    <%= Dienstleister.find(apsu.dienstleister_id).name %><br/>
                    Tel: <%= Dienstleister.find(apsu.dienstleister_id).telefonnummer %><br/>
                    Ber: <%= Dienstleister.find(apsu.dienstleister_id).bereitschaftsnummer %><br/>
                    Mail: <%= Dienstleister.find(apsu.dienstleister_id).email %><br/>
                    Servicezeiten: <%= Dienstleister.find(apsu.dienstleister_id).servicezeiten %>
                <% end %>
            </div>
            <div style="float:right">
                     <%= button_to "edit", {:controller => "supportmatrices", :action => "edit", :id => apsu.id, :was => "dienstleister" },  method: :get %> 
                     <%= button_to "DEL",{:controller => "supportmatrices", :action => "destroy", :id => apsu.id }, data: { confirm: 'Are you sure?' }, :method => :delete  %> 
            </div>
             <div style="clear:both;border-bottom:1px solid #000000"></div>
        <% end %>
       
    </div>

    <% Stufe.where(kunde_id: params[:id]).each do |apst| %>
            

    <div class="stufe">
        <div class="ueberschrift">Staging Stufe: <%= apst.name %> </div>
        <div style="clear:both"></div>
        <div style="clear:both"></div>

        <div class="ueberschrift">Komponenten</div>
        <%= button_to "+", {:controller => "komponentes", :action => "new", :applikation_id => params[:applikation_id] },  method: :get %>

        <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.where(stufe_id: apst.id).each do |apko| %>
            <div class="komponente">
            <div style="border:1px dotted #000000">
                <div class="titel">
                    Bezeichnung
                </div>
                <div class="inhalt">
                    <%= apko.name %> (<%= apko.server.name %>)  <%= button_to "e", {:controller => "komponentes", :action => "edit", :id => apko.id, :applikation_id => params[:applikation_id] },  method: :get %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Beschreibung
                </div>
                <div class="inhalt">
                    <%= apko.beschreibung %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Installationspfad
                </div>
                <div class="inhalt">
                    <%= apko.installationspfad %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Port
                </div>
                <div class="inhalt">
                    <%= apko.port %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Start
                </div>
                <div class="inhalt">
                    <%= apko.start %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Stop
                </div>
                <div class="inhalt">
                    <%= apko.stop %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Besonderheiten
                </div>
                <div class="inhalt">
                    <%= apko.besonderheiten %>
                </div>
                <div style="clear:both"></div>
                <div class="monitoringueberschrift">Monitoring</div>
                <div class="monitoringbutton"><%= button_to "+", {:controller => "monitoringzusks", :action => "new", :komponente_id => apko.id },  method: :get %></div>
                <div style="clear:both"></div>
                <% 
                # Ausgabe der Werte
                Monitoringzusk.where(komponente_id: apko.id ).each do  |apmo| %>
                    <div class="monitoring">
                        <%= Monitoring.find( apmo.monitoring_id).name %>        
                    </div>
                    <div class="monitoring" >
                        <%= Monitoring.find( apmo.monitoring_id ).werte %>     
                        
                    </div>
                    <div class="monitoring">
                        <%= apmo.werte %>        
                    </div> 
                    <%= button_to "DEL",{:controller => "monitoringzusks", :action => "destroy", :id => apmo.id }, data: { confirm: 'Are you sure?' }, :method => :delete  %>   
                    <%= button_to "EDIT",{:controller => "monitoringzusks", :action => "edit", :id => apmo.id }, :method => :get  %>  
                    <div style="clear:both"></div>
                <% end %>
                <div style="clear:both"></div>
                
            </div>
                <div >&nbsp;</div>
            </div>
        <% end %>


        <div class="ueberschrift">Server</div>

        <div class="server">
            <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.all.where(stufe_id: apst.id).select(:server_id).distinct.each do  |apser| %>
                <div style="border:1px dotted #000000">
                <div class="name">
                    <%= Server.find(apser.server_id).name %>
                </div>
                <div class="ip">
                    <%= Server.find(apser.server_id).ip %>
                </div>
                <div class="betriebssystem">
                    <%= Betriebssystem.find( Server.find(apser.server_id).betriebssystem_id ).name %>
                </div>
                <div style="clear:both"></div>
                <div>Hardware <%= button_to "+", {:controller => "hardwaretypzuservers", :action => "new", :server_id => apser.server_id },  method: :get %> </div>
                    <div class="hardware">
                        <div class="typ"><b>Typ</b></div>
                        <div class="name"><b>Name</b></div>
                        <div class="wert"><b>Wert</b></div>
                        <div></div>
                        <div style="clear:both"></div>
                        <% Hardwaretypzuserver.where(server_id: apser.server_id).each do |apserhw| %>
                            <div class="typ"><%= Hardwaretyp.find(apserhw.hardwaretyp_id).name %></div>
                            <div class="name"><%= apserhw.name %>&nbsp;</div>
                            <div class="wert"><%= apserhw.wert %></div>
                            <div style="float:left">
                                <%= button_to "EDIT",{:controller => "hardwaretypzuservers", :action => "edit", :id => apserhw.id, :server_id => apserhw.server_id }, :method => :get  %>  
                                 
                            </div>
                            <div style="float:left">
                               <%= button_to "DEL",{:controller => "hardwaretypzuservers", :action => "destroy", :id => apserhw.id }, data: { confirm: 'Are you sure?' }, :method => :delete  %>   
                            </div>
                            <div style="clear:both"></div>

                        <% end %>
                    </div>
                <div class="monitoringueberschrift">Monitoring</div>
                <div class="monitoringbutton"><%= button_to "+", {:controller => "monitoringzusks", :action => "new", :server_id => apser.server_id },  method: :get %></div>
                <div style="clear:both"></div>
                
                <% 
                # Ausgabe der Werte
                Monitoringzusk.where(server_id: apser.server_id).each do  |apmo| %>
                    <div class="monitoring">
                        <%= Monitoring.find( apmo.monitoring_id).name %>        
                    </div>
                    <div class="monitoring">
                        <%= Monitoring.find( apmo.monitoring_id ).werte %>        
                    </div>
                    <div class="monitoring">
                        <%= apmo.werte %>        
                    </div> 
                    
                        <%= button_to "DEL",{:controller => "monitoringzusks", :action => "destroy", :id => apmo.id }, data: { confirm: 'Are you sure?' }, :method => :delete   %>   
                        <%= button_to "EDIT",{:controller => "monitoringzusks", :action => "edit", :id => apmo.id }, :method => :get  %>  
                    
                    <div style="clear:both"></div>
                <% end %>
                </div>
                <br/>
            <% end %>

        </div>
    
    </div>
    <div style="clear:both">&nbsp;</div>
   
    <% end  # ende der Stufen Schleife %>

    <div class="ueberschrift">Techniche Benutzer</div>
        <%= button_to "+", {:controller => "techbenutzers", :action => "new", :applikation_id => params[:applikation_id] },  method: :get %> 
    <div class="techbenutzer">
        <div class="name">
                Name
            </div>
            <div class="kennwort">
                Kennwort
            </div >
            <div style="clear:both"></div>
        <% # ausgabe der Technischen Benutzer
            Techbenutzer.where(applikation_id: params[:applikation_id]).each do |apte|
        %>
            <div class="name">
                <%= apte.name %>
            </div>
            <div class="kennwort">
                <% 
                    # wenn das Kennwort http enthält dann wird es als Link eingebunden
                if apte.kennwort.match(/^http/) %>
                        <a href="<%= apte.kennwort %>" target="_blank"><%= apte.kennwort %></a>
                <% else %>
                        <%= apte.kennwort %>
                <% end %>
                
            </div >
            <div class="beschreibung">
                <%= apte.beschreibung %>
            </div>
            <div style="float:left;">
                <%= button_to "EDIT",{:controller => "techbenutzers", :action => "edit", :id => apte.id }, :method => :get  %>  
               
            </div>
            <div style="float:left;">
                
                <%= button_to "DEL",{:controller => "techbenutzers", :action => "destroy", :id => apte.id }, data: { confirm: 'Are you sure?' }, :method => :delete   %>   
            </div>
            <div style="clear:both"></div>
        <% end %>

    </div>
    
<% else %>
    <%= button_to "Applikation hinzufügen", {:controller => "applikations", :action => "new", :kunde_id => params[:id] },  method: :get %>
    <%= button_to "Applikation Übersicht", {:controller => "applikations", :action => "index", :kunde_id => params[:id] },  method: :get %>
    <%= button_to "Server hinzufügen", {:controller => "servers", :action => "new", :kunde_id => params[:id] },  method: :get %>
    <%= button_to "Server Übersicht", {:controller => "servers", :action => "index", :kunde_id => params[:id] },  method: :get %>
    <%= button_to "Dienstleister Übersicht", {:controller => "dienstleisters", :action => "index", :kunde_id => params[:id] },  method: :get %>
    <%= button_to "Dienstleister hinzufügen", {:controller => "dienstleisters", :action => "new", :kunde_id => params[:id] },  method: :get %>
    <%= button_to "Stufe Übersicht", {:controller => "stuves", :action => "index", :kunde_id => params[:id] },  method: :get %>
    <%= button_to "Stufe hinzufügen", {:controller => "stuves", :action => "new", :kunde_id => params[:id] },  method: :get %>
<% end %>




