

<% if params[:applikation_id].present?  %>
    <div class="ueberschrift"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).name %></div>

    <div class="beschreibung"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).beschreibung %></div>


    <div class="ueberschrift">Refernzen / Links</div>
        <div class="referenz">
            <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).referenz.each do |apre| %>
                <div class="name">
                    <%= apre.name %>
                </div>
                <div class="link">
                    <% if apre.link.match(/^http/) %>
                        <a href="<%= apre.link %>" target="_blank"><%= apre.link %></a>
                    <% else %>
                        <%= apre.link %>
                     <% end %>
                </div>
                <div style="clear:both"></div>
            <% end %>
        </div>


    <div class="ueberschrift">Komponenten</div>


    <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.each do |apko| %>
        <div class="komponente">
            <div class="titel">
                Bezeichnung
            </div>
            <div class="inhalt">
                <%= apko.name %> (<%= apko.server.name %>)
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Beschreibung
            </div>
            <div class="inhalt">
                <%= apko.beschreibung %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Installationspfad
            </div>
            <div class="inhalt">
                <%= apko.installationspfad %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Port
            </div>
            <div class="inhalt">
                <%= apko.port %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Start
            </div>
            <div class="inhalt">
                <%= apko.start %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Stop
            </div>
            <div class="inhalt">
                <%= apko.stop %>
            </div>
            <div style="clear:both"></div>
            <div class="was">
                Besonderheiten
            </div>
            <div class="inhalt">
                <%= apko.besonderheiten %>
            </div>
            <div style="clear:both"></div>
            <div class="monitoringueberschrift">Monitoring</div>
            <div class="monitoringbutton"><%= button_to "+", {:controller => "monitoringzusks", :action => "new", :komponente_id => apko.id }, params: { backurl: request.fullpath }, method: :get %></div>
            <div style="clear:both"></div>
            <% 
            # Ausgabe der Werte
            Monitoringzusk.where(komponente_id: apko.id ).each do  |apmo| %>
                <div class="monitoring">
                    <%= Monitoring.find( apmo.monitoring_id).name %>        
                </div>
                <div class="monitoring">
                    <%= Monitoring.find( apmo.monitoring_id ).werte %>        
                </div>
                <div class="monitoring">
                    <%= apmo.werte %>        
                </div> 
                <div style="clear:both"></div>
            <% end %>

                
                

           
         


            <div style="clear:both"></div>
            <div >&nbsp;</div>

        </div>
    <% end %>


    <div class="ueberschrift">Server</div>

    <div class="server">
        <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.all.select(:server_id).distinct.each do  |apser| %>

            <div class="name">
                <%= Server.find(apser.server_id).name %>
            </div>
            <div class="ip">
                <%= Server.find(apser.server_id).ip %>
            </div>
            <div class="betriebssystem">
                <%= Betriebssystem.find( Server.find(apser.server_id).betriebssystem_id ).name %>
            </div>
            <div style="clear:both"></div>

             <div class="monitoringueberschrift">Monitoring</div>
            <div class="monitoringbutton"><%= button_to "+", {:controller => "monitoringzusks", :action => "new", :server_id => apser.server_id },  method: :get %></div>
            <div style="clear:both"></div>
            
            <% 
            # Ausgabe der Werte
            Monitoringzusk.where(server_id: apser.server_id).each do  |apmo| %>
                <div class="monitoring">
                    <%= Monitoring.find( apmo.monitoring_id).name %>        
                </div>
                <div class="monitoring">
                    <%= Monitoring.find( apmo.monitoring_id ).werte %>        
                </div>
                <div class="monitoring">
                    <%= apmo.werte %>        
                </div> 
                <div style="clear:both"></div>
            <% end %>

             <br/>
        <% end %>

    </div>
<% end %>




