
<% if params[:applikation_id].present? && params[:id].present? %>
    <% if User.find(session[:user_id]).rights <= 1 %>
        <%= link_to '<i class="bi bi-pencil"></i>'.html_safe ,:controller => "applikations", :action => "edit", :id => params[:applikation_id]   %>
    <% end %>
   
    <div class="ueberschrift"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).name %></div>

    <div class="beschreibung"><%= @kundes.find(params[:id]).applikation.find(params[:applikation_id]).beschreibung %></div>


    <div class="ueberschrift">Referenzen / Links
        <% if User.find(session[:user_id]).rights <= 1 %>
            <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "referenzs", :action => "new", :id => params[:applikation_id]  %>
        <% end %> 
    </div>
        <div class="referenz">
            <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).referenz.each do |apre| %>
                <div class="name">
                    <%= apre.name %>
                </div>
                <div class="link">
                    <% if apre.link.match(/^http/) %>
                        <a href="<%= apre.link %>" target="_blank"><%= apre.link %></a>
                    <% else %>
                        <%= apre.link %>
                     <% end %>
                </div>
                <% if User.find(session[:user_id]).rights <= 1 %>
                    <div style="float:right;">
                        <%= link_to '<i class="bi bi-pencil"></i>'.html_safe ,:controller => "referenzs", :action => "edit", :id => apre.id, :applikation_id => params[:applikation_id]  %>
                        
                    </div>
                    <div style="float:right;">
                        <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "referenzs", :action => "destroy", :id => apre.id }, data: { confirm: 'Sind Sie sicher?' }, :method => :delete  %>
                    </div>
                <% end %>
                <div style="clear:both"></div>
            <% end %>
        </div>

    <div class="ueberschrift">Supportmatrix 
        <% if User.find(session[:user_id]).rights <= 1 %>
            <%= button_to "Dienstleister +", {:controller => "supportmatrices", :action => "new", :applikation_id => params[:applikation_id], :was => "dienstleister" },  method: :get %>
            <%= button_to "Fachgruppe +", {:controller => "supportmatrices", :action => "new", :applikation_id => params[:applikation_id], :was => "fachgruppe" },  method: :get %>
        <% end %>
    </div>
    
        
   <div class="supportmatrix"> 
            <div class="was" style="font-weight:bold">Was</div>
            <div class="beschreibung" style="font-weight:bold">Beschreibung</div>
             <div class="kontakt" style="font-weight:bold">Kontakt</div>
             <div style="clear:both;border-bottom:1px solid #000000"></div>
        <% Supportmatrix.where(applikation_id: params[:applikation_id]).each do |apsu| %>
            <div class="was">
                <%= apsu.was %>
            </div>
            <div class="beschreibung">
                <%= apsu.beschreibung %>
                
            </div>
            <div class="kontakt">
                <% # wenn Dienstleister nicht gesetzt ist wird die Fachruppe aufgegeben
                    if apsu.dienstleister_id.nil? %>
                    <%= Fachgruppe.find(apsu.fachgruppe_id).name %><br/>
                    Tel: <%= Fachgruppe.find(apsu.fachgruppe_id).telefonnummer %><br/>
                    Ber: <%= Fachgruppe.find(apsu.fachgruppe_id).bereitschaft %><br/>
                    Mail: <%= Fachgruppe.find(apsu.fachgruppe_id).email %><br/>
                    Ticketgruppe: <%= Fachgruppe.find(apsu.fachgruppe_id).ticketgruppe %>
                <% else %>
                    <%= Dienstleister.find(apsu.dienstleister_id).name %><br/>
                    Tel: <%= Dienstleister.find(apsu.dienstleister_id).telefonnummer %><br/>
                    Ber: <%= Dienstleister.find(apsu.dienstleister_id).bereitschaftsnummer %><br/>
                    Mail: <%= Dienstleister.find(apsu.dienstleister_id).email %><br/>
                    Servicezeiten: <%= Dienstleister.find(apsu.dienstleister_id).servicezeiten %>
                <% end %>
            </div>
            <% if User.find(session[:user_id]).rights <= 1 %>
                <div style="float:right;">
                    <%= link_to '<i class="bi bi-pencil"></i>'.html_safe ,:controller => "supportmatrices", :action => "edit", :id => apsu.id, :applikation_id => params[:applikation_id], :was => "dienstleister"   %>
                </div>
                <div style="float:right;">
                    <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "supportmatrices", :action => "destroy", :id => apsu.id }, data: { confirm: 'Sind Sie sicher?' }, :method => :delete  %>
                </div>
            <% end %>
            <div style="clear:both;"></div>
        <% end %>
       
    </div>

    <% Stufe.where(kunde_id: params[:id]).each do |apst| %>
            
    <div>&nbsp;</div>
    <div class="stufe">
        <div class="ueberschrift">Staging Stufe: <%= apst.name %> </div>
        <div style="clear:both"></div>
        <div style="clear:both"></div>

        <div class="ueberschrift">Komponenten
            <% if User.find(session[:user_id]).rights <= 1 %>
                <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "komponentes", :action => "new", :id => params[:applikation_id]  %>
            <% end %>
        </div>
         
        <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.where(stufe_id: apst.id).each do |apko| %>
            <div class="komponente">
            <div style="">
                <div class="titel">
                    Bezeichnung
                </div>
                <div class="inhalt">
                    <%= apko.name %> (<%= apko.server.name %>)
                    <% if User.find(session[:user_id]).rights <= 1 %>  
                        <%= link_to '<i class="bi bi-pencil"></i>'.html_safe ,:controller => "komponentes", :action => "edit", :id => apko.id, :applikation_id => params[:applikation_id], :was => "dienstleister"   %>
                    <% end %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Beschreibung
                </div>
                <div class="inhalt">
                    <%= apko.beschreibung %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Installationspfad
                </div>
                <div class="inhalt">
                    <%= apko.installationspfad %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Port
                </div>
                <div class="inhalt">
                    <%= apko.port %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Start
                </div>
                <div class="inhalt">
                    <%= apko.start %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Stop
                </div>
                <div class="inhalt">
                    <%= apko.stop %>
                </div>
                <div style="clear:both"></div>
                <div class="was">
                    Besonderheiten
                </div>
                <div class="inhalt">
                    <%= apko.besonderheiten %>
                </div>
                <div style="clear:both"></div>
                <div class="monitoringueberschrift">Monitoring
                    <% if User.find(session[:user_id]).rights <= 1 %>
                        <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "monitoringzusks", :action => "new", :komponente_id => apko.id  %>
                    <% end %>
                </div>
                <div style="clear:both"></div>
                <% 
                # Ausgabe der Werte
                Monitoringzusk.where(komponente_id: apko.id ).each do  |apmo| %>
                    
                    <div class="monitoring">
                        <%= Monitoring.find( apmo.monitoring_id).name %>        
                    </div>
                    <div class="monitoring" >
                        <%= Monitoring.find( apmo.monitoring_id ).werte %>     
                        
                    </div>
                    <div class="monitoring">
                        <%= apmo.werte %>        
                    </div> 
                    <div style="float:right;margin-top:7px;">
                        <% if User.find(session[:user_id]).rights <= 1 %>
                            <%= link_to '<i class="bi bi-pencil"></i>'.html_safe , :controller => "monitoringzusks", :action => "edit", :id => apmo.id, :applikation_id => params[:applikation_id]  %>
                        <% end %>
                    </div>
                    <div style="float:right;margin-top:7px;">
                        <% if User.find(session[:user_id]).rights <= 1 %>
                            <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "monitoringzusks", :action => "destroy", :id => apmo.id }, data: { confirm: 'Sind Sie sicher?' }, :method => :delete  %>
                        <% end %>
                    </div>
                    <div style="clear:both"></div>
                    
                <% end %>
                
                
            </div>
                <div style="width:100%;border-top:1px solid #f3f3f3">&nbsp;</div>
            </div>
        <% end %>


        <div class="ueberschrift">Server</div>

        <div class="server">
            <% @kundes.find(params[:id]).applikation.find(params[:applikation_id]).komponente.all.where(stufe_id: apst.id).select(:server_id).distinct.each do  |apser| %>
                <div style="">
                <div class="name">
                    <%= Server.find(apser.server_id).name %>
                </div>
                <div class="ip">
                    <%= Server.find(apser.server_id).ip %>
                </div>
                <div class="betriebssystem">
                    <%= Betriebssystem.find( Server.find(apser.server_id).betriebssystem_id ).name %>
                </div>
                <div style="clear:both"></div>
                <div>Hardware 
                    <% if User.find(session[:user_id]).rights <= 1 %>
                        <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "hardwaretypzuservers", :action => "new", :server_id => apser.server_id  %>
                    <% end %>
                </div>
                    <div class="hardware">
                        <div class="typ"><b>Typ</b></div>
                        <div class="name"><b>Name</b></div>
                        <div class="wert"><b>Wert</b></div>
                        <div></div>
                        <div style="clear:both"></div>
                        <% Hardwaretypzuserver.where(server_id: apser.server_id).each do |apserhw| %>
                            <div class="typ"><%= Hardwaretyp.find(apserhw.hardwaretyp_id).name %></div>
                            <div class="name"><%= apserhw.name %>&nbsp;</div>
                            <div class="wert"><%= apserhw.wert %></div>
                            <div style="float:left;margin-top:7px;">
                                <% if User.find(session[:user_id]).rights <= 1 %>
                                    <%= link_to '<i class="bi bi-pencil"></i>'.html_safe , :controller => "hardwaretypzuservers", :action => "edit", :id => apserhw.id, :server_id => apserhw.server_id  %>
                                <% end %>
                            </div>
                            <div style="float:left;margin-top:7px;">
                                <% if User.find(session[:user_id]).rights <= 1 %>
                                    <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "hardwaretypzuservers", :action => "destroy", :id => apserhw.id }, data: { confirm: 'Sind Sie sicher?' }, :method => :delete  %>
                                <% end %>
                            </div>
                            
                            <div style="clear:both"></div>

                        <% end %>
                    </div>
                <div class="monitoringueberschrift">Monitoring 
                    <% if User.find(session[:user_id]).rights <= 1 %>
                        <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "monitoringzusks", :action => "new", :server_id => apser.server_id  %>
                    <% end %>    
                        </div>
                <div style="clear:both"></div>
                
                <% 
                # Ausgabe der Werte
                Monitoringzusk.where(server_id: apser.server_id).each do  |apmo| %>
                    <div class="monitoring">
                        <%= Monitoring.find( apmo.monitoring_id).name %>        
                    </div>
                    <div class="monitoring">
                        <%= Monitoring.find( apmo.monitoring_id ).werte %>        
                    </div>
                    <div class="monitoring">
                        <%= apmo.werte %>        
                    </div> 
                    
                        <div style="float:left;margin-top:7px;">
                            <% if User.find(session[:user_id]).rights <= 1 %>
                                <%= link_to '<i class="bi bi-pencil"></i>'.html_safe , :controller => "monitoringzusks", :action => "edit", :id => apmo.id  %>
                            <% end %>
                        </div>
                        <div style="float:left;margin-top:7px;">
                            <% if User.find(session[:user_id]).rights <= 1 %>
                                <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "monitoringzusks", :action => "destroy", :id => apmo.id }, data: { confirm: 'Sind Sie sicher?' }, :method => :delete  %>
                            <% end %>
                        </div>
                    <div style="clear:both"></div>
                <% end %>
                </div>
                <div style="width:100%;border-top:1px solid #f3f3f3">&nbsp;</div>
            <% end %>

        </div>
        
    </div>
    <div style="clear:both">&nbsp;</div>
   
    <% end  # ende der Stufen Schleife %>

    <div class="ueberschrift">Techniche Benutzer 
        <% if User.find(session[:user_id]).rights <= 1 %>
            <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "techbenutzers", :action => "new", :id => params[:applikation_id]  %>
        <% end %>
    </div>
    <div class="techbenutzer">
        <div class="name">
                Name
            </div>
            <div class="kennwort">
                Kennwort
            </div >
            <div style="clear:both"></div>
        <% # ausgabe der Technischen Benutzer
            Techbenutzer.where(applikation_id: params[:applikation_id]).each do |apte|
        %>
            <div class="name">
                <%= apte.name %>
            </div>
            <div class="kennwort">
                <% 
                    # wenn das Kennwort http enthält dann wird es als Link eingebunden
                if apte.kennwort.match(/^http/) %>
                        <a href="<%= apte.kennwort %>" target="_blank"><%= apte.kennwort %></a>
                <% else %>
                        <%= apte.kennwort %>
                <% end %>
                
            </div >
            <div class="beschreibung">
                <%= apte.beschreibung %>
            </div>
            <% if User.find(session[:user_id]).rights <= 1 %>
                <div style="float:left;margin-top:7px;">
                    <%= link_to '<i class="bi bi-pencil"></i>'.html_safe , :controller => "techbenutzers", :action => "edit", :id => apte.id  %>
                </div>
                <div style="float:left;margin-top:7px;">
                    <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "techbenutzers", :action => "destroy", :id => apte.id }, data: { confirm: 'Sind Sie sicher?' }, :method => :delete  %>
                </div>
            <% end %>
            <div style="clear:both"></div>
        <% end %>

        <div class="ueberschrift">geplante Aufgaben 
        <% if User.find(session[:user_id]).rights <= 1 %>
            <%= link_to '<i class="bi bi-asterisk"></i>'.html_safe ,:controller => "aufgabens", :action => "new", :applikation_id => params[:applikation_id]  %>
        <% end %>
        </div>

     
        <div class="aufgaben">
            <div class="name">
                Name
            </div>
            <div class="zeitpunkt">
                Zeitpunkt der Ausführung
            </div>
            <div class="beschreibung">
                Beschreibung
            </div>
             <div style="clear:both"></div>
            <% # Ausgabe der Aufgaben
            Aufgaben.where(applikation_id: params[:applikation_id]).each do |apau|
            %>  
                <div class="name">
                    <%= apau.name %>
                </div>
                <div class="zeitpunkt">
                    <%= apau.zeitpunkt %>
                </div>
                <div class="beschreibung">
                     <%= apau.beschreibung %>
                </div>
                <% if User.find(session[:user_id]).rights <= 1 %>
                <div style="float:left;margin-top:7px;">
                    <%= link_to '<i class="bi bi-pencil"></i>'.html_safe , :controller => "aufgabens", :action => "edit", :id => apau.id  %>
                </div>
                <div style="float:left;margin-top:7px;">
                    <%= link_to '<i class="bi bi-trash"></i>'.html_safe , {:controller => "aufgabens", :action => "destroy", :id => apau.id }, data: { confirm: 'Sind Sie sicher?' }, :method => :delete  %>
                </div>
            <% end %>
                 <div style="clear:both"></div>
            <% end %>
        </div>
    </div>

    

    
<% else %>
    <% if User.find(session[:user_id]).rights <= 1 %>
        <%= button_to "Applikation hinzufügen", {:controller => "applikations", :action => "new", :kunde_id => params[:id] },  method: :get %>
    <% end %>
        <%= button_to "Applikation Übersicht", {:controller => "applikations", :action => "index", :kunde_id => params[:id] },  method: :get %>
    <% if User.find(session[:user_id]).rights <= 1 %>
        <%= button_to "Server hinzufügen", {:controller => "servers", :action => "new", :kunde_id => params[:id] },  method: :get %>
    <% end %>
        <%= button_to "Server Übersicht", {:controller => "servers", :action => "index", :kunde_id => params[:id] },  method: :get %>
    
        <%= button_to "Dienstleister Übersicht", {:controller => "dienstleisters", :action => "index", :kunde_id => params[:id] },  method: :get %>
    <% if User.find(session[:user_id]).rights <= 1 %>
        <%= button_to "Dienstleister hinzufügen", {:controller => "dienstleisters", :action => "new", :kunde_id => params[:id] },  method: :get %>
    <% end %>
        <%= button_to "Stufe Übersicht", {:controller => "stuves", :action => "index", :kunde_id => params[:id] },  method: :get %>
    <% if User.find(session[:user_id]).rights <= 1 %>
        <%= button_to "Stufe hinzufügen", {:controller => "stuves", :action => "new", :kunde_id => params[:id] },  method: :get %>
    <% end %>
<% end %>




