<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
        <% server.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :kunde_id %>
    <%= form.collection_select(:kunde_id,Kunde.all,:id,:name, :selected => @server.kunde_id)%>
  </div>

  <div class="field">
    <%= form.label :betriebssystem_id %>
    <%= form.collection_select(:betriebssystem_id,Betriebssystem.all,:id,:name, :selected => @server.betriebssystem_id)%> 
  </div>

  <div class="field">
    <%= form.label :archiviert %>
    <%= form.check_box :archiviert %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
