<p id="notice"><%= notice %></p>

<h1>Servers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th>Kunde</th>
      <th>Betriebssystem</th>
      <th>Archiviert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.where(kunde_id: params[:kunde_id]).each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.ip %></td>
        <td><%= Kunde.find(server.kunde_id).name %></td>
        <td><%= Betriebssystem.find(server.betriebssystem_id).name %></td>
        <td><%= server.archiviert %></td>
        <td><%= link_to 'Anzeigen', server %></td>
        <td><%= link_to 'Bearbeiten', edit_server_path(server) %></td>
        <td>
          <% #wenn es noch angehängte Komponenten gibt darf der Server nicht gelöscht werden
            if Komponente.where(server_id: server.id).count == 0 %>
          <%= link_to 'Löschen', server, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
          <% else %>
            Es gibt noch verbundene Komponenten
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Server', new_server_path %>
