<p id="notice"><%= notice %></p>

<h1>Techbenutzers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kennwort</th>
      <th>Applikation</th>
      <th>Beschreibung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @techbenutzers.each do |techbenutzer| %>
      <tr>
        <td><%= techbenutzer.name %></td>
        <td><%= techbenutzer.kennwort %></td>
        <td><%= Applikation.find(techbenutzer.applikation_id).name %></td>
         <td><%= techbenutzer.beschreibung %></td>
        <td><%= link_to 'Anzeigen', techbenutzer %></td>
        <td><%= link_to 'Bearbeiten', edit_techbenutzer_path(techbenutzer) %></td>
        <td><%= link_to 'Löschen', techbenutzer, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Techbenutzer', new_techbenutzer_path %>
