<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%=  @user.username %>
</p>

<p>
  <strong>Rights:</strong>
  <%=  @user.rights %>
</p>

<%= link_to 'Bearbeiten', edit_user_path(@user) %> |
<%= link_to 'Zurück', user_path %>
