<%= form_with(model: komponentenservice, local: true) do |form| %>
  <% if komponentenservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(komponentenservice.errors.count, "error") %> prohibited this komponentenservice from being saved:</h2>

      <ul>
        <% komponentenservice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :komponente_id %>
    
    <%= form.collection_select(:komponente_id,Komponente.all,:id,:komponente_mit_host, :selected => @komponentenservice.komponente_id)%> 
  </div>

  <div class="field">
    <%= form.label :beschreibung %>
    <%= form.text_area :beschreibung %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
