<p id="notice"><%= notice %></p>

<h1>Komponentenservices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Komponente</th>
      <th>Beschreibung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @komponentenservices.each do |komponentenservice| %>
      <tr>
        <td><%= komponentenservice.name %></td>
        <td><%= komponentenservice.komponente_id %></td>
        <td><%= komponentenservice.beschreibung %></td>
        <td><%= link_to 'Show', komponentenservice %></td>
        <td><%= link_to 'Edit', edit_komponentenservice_path(komponentenservice) %></td>
        <td><%= link_to 'Destroy', komponentenservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Komponentenservice', new_komponentenservice_path %>
