<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aufgaben.name %>
</p>

<p>
  <strong>Zeitpunkt:</strong>
  <%= @aufgaben.zeitpunkt %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @aufgaben.beschreibung %>
</p>

<p>
  <strong>Applikation:</strong>
  <%= @aufgaben.applikation_id %>
</p>

<%= link_to 'Edit', edit_aufgaben_path(@aufgaben) %> |
<%= link_to 'Back', aufgabens_path %>
