<p id="notice"><%= notice %></p>

<h1>Hardwaretyps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hardwaretyps.each do |hardwaretyp| %>
      <tr>
        <td><%= hardwaretyp.name %></td>
        <td><%= link_to 'Anzeigen', hardwaretyp %></td>
        <td><%= link_to 'Bearbeiten', edit_hardwaretyp_path(hardwaretyp) %></td>
        <td><%= link_to 'Löschen', hardwaretyp, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Hardwaretyp', new_hardwaretyp_path %>
