<p id="notice"><%= notice %></p>

<h1>Betriebssystemtyps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @betriebssystemtyps.each do |betriebssystemtyp| %>
      <tr>
        <td><%= betriebssystemtyp.name %></td>
        <td><%= link_to 'Anzeigen', betriebssystemtyp %></td>
        <td><%= link_to 'Bearbeiten', edit_betriebssystemtyp_path(betriebssystemtyp) %></td>
        <td><%= link_to 'Löschen', betriebssystemtyp, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neu Betriebssystemtyp', new_betriebssystemtyp_path %>
