<p id="notice"><%= notice %></p>

<h1>Monitoringzusks</h1>

<table>
  <thead>
    <tr>
      <th>Server</th>
      <th>Komponente</th>
      <th>Werte</th>
      <th>Monitoring</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monitoringzusks.each do |monitoringzusk| %>
      <tr>
        <td><%= monitoringzusk.server_id %></td>
        <td><%= monitoringzusk.komponente_id %></td>
        <td><%= monitoringzusk.werte %></td>
        <td><%= monitoringzusk.monitoring_id %></td>
        <td><%= link_to 'Anzeigen', monitoringzusk %></td>
        <td><%= link_to 'Bearbeiten', edit_monitoringzusk_path(monitoringzusk) %></td>
        <td><%= link_to 'Löschen', monitoringzusk, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Monitoringzusk', new_monitoringzusk_path %>
