<p id="notice"><%= notice %></p>

<p>
  <strong>Server:</strong>
  <%= @monitoringzusk.server_id %>
</p>

<p>
  <strong>Komponente:</strong>
  <%= @monitoringzusk.komponente_id %>
</p>

<p>
  <strong>Monitoring:</strong>
  <%= @monitoringzusk.monitoring_id %>
</p>

<p>
  <strong>Werte:</strong>
  <%= @monitoringzusk.werte %>
</p>





<%= link_to 'Edit', edit_monitoringzusk_path(@monitoringzusk) %> |
<%= link_to 'Back', monitoringzusks_path %>
