<p id="notice"><%= notice %></p>

<h1>Referenzs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Applikation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referenzs.each do |referenz| %>
      <tr>
        <td><%= referenz.name %></td>
        <td><%= referenz.link %></td>
        <td><%= referenz.applikation_id %></td>
        <td><%= link_to 'Anzeigen', referenz %></td>
        <td><%= link_to 'Bearbeiten', edit_referenz_path(referenz) %></td>
        <td><%= link_to 'Löschen', referenz, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Referenz', new_referenz_path %>
